<%= form_for(@excersise) do |f| %>
  <%= render 'shared/form_errors', model: @excersise %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :sets %><br>
    <%= f.number_field :sets, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :reps %><br>
    <%= f.number_field :reps, class: 'form-control' %>
  </div>
  <div class="row">
    <div class="col-xs-6">
      <%= f.submit class: 'btn btn-success btn-block' %>
    </div>
    <div class="col-xs-6">
      <%= link_to 'Cancel', excersises_path, class: 'btn btn-danger btn-block' %>
    </div>
  </div>
<% end %>
